#gridhelper-monitor {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid #808080 1px;
    color: white;
    padding: 0 20px 20px 20px;
    text-align: center;
}

#gridhelper-monitor-button {
    position: relative;
    top: 5px;
    color: #0078ff;
}

#gridhelper-monitor-button:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#responsive-status {
    font-size: 30px;
}

.row {
}

.row .row {

}

[class*="col-"] {

}

/*Col Info Panel*/
.ghb-infopanel {
    position: absolute;
    left: 0;
font-size: 12px;
    color: white;
    padding: 0 8px 0 8px;
    background-color: rgba(0, 0, 0, 0.6);
    border-right: solid #000000 1px;
    border-bottom: solid #000000 1px;
    border-radius: 0 0 8px 0;
}

.ghb-infopanel:hover {
    background-color: black;
}

.ghb-infopanel > div {
    display: inline-block;
}



.inseldebug:hover,
.gridhelper-col-container-click:hover,
.inseldebug-offset:hover,
.gridhelper-col-container-offset-click:hover {

    background-color: rgba(0, 0, 0, 1);

}

.inseldebug,
.gridhelper-col-container-click {

}

.inseldebug-offset,
.gridhelper-col-container-offset-click {
    background-color: rgba(100, 0, 0, 0.1);

}

.inseldebug-offset,
.inseldebug {


}




.ghb-info-col {
}

.ghb-info-offset select,
.ghb-info-col select{
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 2px 0 2px 6px;
    margin: 1px;
    border: none;
    text-align: center;


}



/* Thanks to http://www.xurei-design.be/blog/2013/10/how-to-accurately-detect-responsive-breakpoints/ */

/* green
     Large desktops and laptops */
@media (min-width: 1200px) {
    div.row > div.ghb-col {
        border: solid green 1px;
    }

    #responsive-status:after {
        content: 'lg';
    }

}

/* Yellow
Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    div.row > div.ghb-col {
        border: solid #ffc229 1px;
    }

    #responsive-status:after {
        content: 'md';
    }

}

/* RED
Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    div.row > div.ghb-col {
        border: solid red 1px;
    }

    #responsive-status:after {
        content: 'sm';
    }

}

/* BLUE
Landscape phones and portrait tablets */
@media (max-width: 767px) {
    div.row > div.ghb-col {
        border: solid blue 1px;
    }

    #responsive-status:after {
        content: 'xs';
    }

}

/* Magenta
Landscape phones and smaller */
@media (max-width: 480px) {
    div.row > div.ghb-col {
        border: solid magenta 1px;
    }

    #responsive-status:after {
        content: 'xxs';
    }
}
