#develop {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    z-index: 3000;
}

#develop-start {
    cursor: pointer;
}





.row {
}

.row .row {

}

[class*="col-"] {

}



/*Col Info Panel*/

.ghb-infopanel > div{
    display: inline-block;
    margin: 2px;
    padding: 2px;
    border: solid black 1px;
}


/* Thanks to http://www.xurei-design.be/blog/2013/10/how-to-accurately-detect-responsive-breakpoints/ */

#develop.active {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid #808080 1px;
    color: white;
    padding: 0 20px 20px 20px;

}

.inseldebug,
.gridhelper-col-container-click,
.inseldebug-offset,
.gridhelper-col-container-offset-click {
    cursor: pointer;
    color: white;
    padding: 0 8px 0 8px;
    background-color: rgba(0, 0, 0, 0.6);
    border-right: solid #000000 1px;
    border-bottom: solid #000000 1px;
    border-radius: 0 0 12px 0;
}

.inseldebug:hover,
.gridhelper-col-container-click:hover,
.inseldebug-offset:hover,
.gridhelper-col-container-offset-click:hover {

    background-color: rgba(0, 0, 0, 1);

}


.inseldebug,
.gridhelper-col-container-click {



}

.inseldebug-offset,
.gridhelper-col-container-offset-click {
    background-color: rgba(100, 0, 0, 0.6);


}

.inseldebug-offset,
.inseldebug {

    -webkit-appearance: none;

}

.gridhelper-col-container {
    position: absolute;
    left: 0;

}

.gridhelper-col-container:hover {
background-color: black;
}

.gridhelper-col-container input {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

#responsive-status {
    font-size: 30px;
}

/* MAGENTA
     Large desktops and laptops */
@media (min-width: 1200px) {
    div.row > div.ghb-col {
        border: solid magenta 1px;
    }

    #responsive-status:after {
        content: 'lg';
    }

}

/* Yellow
Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    div.row > div.ghb-col {
        border: solid yellow 1px;
    }

    #responsive-status:after {
        content: 'md';
    }

}

/* RED
Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    div.row > div.ghb-col {
        border: solid red 1px;
    }

    #responsive-status:after {
        content: 'sm';
    }

}

/* BLUE
Landscape phones and portrait tablets */
@media (max-width: 767px) {
    div.row > div.ghb-col {
        border: solid blue 1px;
    }

    #responsive-status:after {
        content: 'xs';
    }

}

/* GREEN
Landscape phones and smaller */
@media (max-width: 480px) {
    div.row > div.ghb-col {
        border: solid #008000 1px;
    }

}

.red {
    background-color: red;
}

